.terraform/terraform.tfstate
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
